@import 'helpers/mixins.styl'
@import 'helpers/var.styl'

@import 'base/font.styl'
@import 'base/base.styl'

@import 'blocks/block-text.styl'
@import 'blocks/list.styl'
@import 'blocks/list-count.styl'
@import 'blocks/top-text.styl'
@import 'blocks/section-text.styl'
@import 'blocks/page-text.styl'

@import 'blocks/loader.styl'

@import 'blocks/header.styl'
@import 'blocks/navbar.styl'

@import 'blocks/main.styl'
@import 'blocks/carousel.styl'

@import 'blocks/footer.styl'
@import 'blocks/bottom-line.styl'



@import 'blocks/energo.styl'
@import 'blocks/act.styl'
@import 'blocks/contract.styl'
@import 'blocks/events.styl'
@import 'blocks/economy.styl'
@import 'blocks/objects.styl'
@import 'blocks/generation.styl'
@import 'blocks/about.styl'
@import 'blocks/conflict.styl'
@import 'blocks/analysis.styl'
@import 'blocks/reasons.styl'
@import 'blocks/advantage.styl'
@import 'blocks/working.styl'
@import 'blocks/events2.styl'
@import 'blocks/orem.styl'
@import 'blocks/lost-act.styl'
@import 'blocks/rates.styl'
@import 'blocks/tso.styl'
@import 'blocks/generating.styl'
@import 'blocks/company.styl'
@import 'blocks/power-loss.styl'
@import 'blocks/overpayment.styl'
@import 'blocks/balance.styl'
@import 'blocks/news-header.styl'
@import 'blocks/news-content.styl'
@import 'blocks/news-page.styl'
@import 'blocks/reviews-header.styl'
@import 'blocks/reviews-content.styl'
@import 'blocks/review.styl'
