@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri/Calibri.woff2') format('woff2'),
       url('../fonts/Calibri/Calibri.woff') format('woff'),
       url('../fonts/Calibri/Calibri.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri/Calibri-Light.woff2') format('woff2'),
        url('../fonts/Calibri/Calibri-Light.woff') format('woff'),
        url('../fonts/Calibri/Calibri-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts//HeliosCondLight/HeliosCondLight.woff2') format('woff2'),
       url('../fonts//HeliosCondLight/HeliosCondLight.woff') format('woff'),
       url('../fonts//HeliosCondLight/HeliosCondLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts/HeliosCondRegular/HeliosCondRegular.woff2') format('woff2'),
       url('../fonts/HeliosCondRegular/HeliosCondRegular.woff') format('woff'),
       url('../fonts/HeliosCondRegular/HeliosCondRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaInseratLT';
  src: url('../fonts/HelveticaInseratLT-Roman/HelveticaInseratLT-Roman.woff2') format('woff2'),
       url('../fonts/HelveticaInseratLT-Roman/HelveticaInseratLT-Roman.woff') format('woff'),
       url('../fonts/HelveticaInseratLT-Roman/HelveticaInseratLT-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot');
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
