.main-carousel
    height 100%
    height calc(100% - 201px)
    transition all .4s ease

    @media (min-width 768px)
        height calc(100% - 178px)

    @media (min-width 992px)
        height calc(100% - 151px)

    @media (min-width 1400px)
        height calc(100% - 118px)

    .item, .carousel, .carousel-inner
        overflow hidden
        width 100%
        height 100%

    //    @media (max-height 768px) and (min-width 768px)
    //        position relative
    //        height 557px
    //        top 0
    //
    //    @media (max-height 768px) and (min-width 992px)
    //        position relative
    //        height 580px
    //        top 0
    //
    //    @media (max-height 768px) and (min-width 1400px)
    //        position relative
    //        height 634px
    //        top 0

//    .carousel
//        position fixed
//        top 59px
//        right 0
//        left 0
//        bottom 136px
//
//        @media (min-width 768px)
//            top 100px
//            bottom 73px
//
//        @media (min-width 992px)
//            top 73px
//
//        @media (min-width 1400px)
//            bottom 41px

    .carousel-inner
        height 100%

    .item, .item.left, .item.right, .item.active
        background-position center
        background-size cover
        padding-bottom 50px
        height 100%

        @media (min-width 768px)
            padding-bottom 0

        &__text
            max-width 1400px
            width 80%
            margin-left auto
            margin-right auto
            position relative
            padding-top 20px
            padding-bottom 60px
            text-align center

            @media (min-width 480px)
                padding-top 25px

            @media (min-width 768px)
                padding-top 30px

            @media (min-width 992px)
                padding-top 40px

            @media (min-width 1400px)
                padding-top 50px

        &__title-wrap
            position relative
            margin-top 0
            margin-bottom 30px
            text-align left
            text-align center

            @media (min-width 768px)
                {ibt}
                text-align left
                padding-left 12.5px
                margin-bottom 30px
                border-top 1px solid white
                border-left 1px solid white
                padding-top 7.5px
                padding-left 17.5px


            @media (min-width 992px)
                padding-top 8px
                padding-left 25px

            &:before
                @media (min-width 768px)
                    content ''
                    width 20px
                    height 1px
                    background-color white
                    position absolute
                    top -1px
                    right 100%

            &:after
                @media (min-width 768px)
                    content ''
                    width 1px
                    height 15px
                    background-color white
                    position absolute
                    left -1px
                    bottom 100%

            &_grey
                @media (min-width 768px)
                    border-color $grey-medium-color

                &:before
                    @media (min-width 768px)
                        background-color $grey-medium-color

                &:after
                    @media (min-width 768px)
                        background-color $grey-medium-color

                .item__title
                    color $grey-medium-color

            a
                display block
                color $grey-medium-color
                text-decoration none

                &:focus
                    text-decoration none
                    outline-color $grey-light-color

        &__title
            display block
            font-weight 400
            hyphens()

            &_large
                font-family Calibri
                text-transform uppercase
                font-size-func(26)
                margin-bottom 10px
                color white

                @media (min-width 480px)
                    font-size-func(42)

                @media (min-width 768px)
                    display block
                    font-size-func(50)

                @media (min-width 992px)
                    font-size-func(65)

                @media (min-width 1400px)
                    font-size-func(88)

            &_small
                font-family HeliosCond
                font-size-func(20)
                text-transform lowercase
                font-weight 300
                line-height 14.5px
                line-height 1.45rem
                color white

                @media (min-width 480px)
                    font-size-func(42/1.63)
                    line-height 18.5px
                    line-height 1.85rem

                @media (min-width 768px)
                    font-size-func(50/1.63)
                    line-height 19.5px
                    line-height 1.95rem

                @media (min-width 992px)
                    font-size-func(65/1.63)
                    line-height 27px
                    line-height 2.7rem

                @media (min-width 1400px)
                    font-size-func(88/1.63)
                    line-height 36px
                    line-height 3.6rem

            &_bg
                background-color rgba(255, 255, 255, 0.5)
                padding .3em

        &__descr
            color $grey-medium-color
            display block
            max-width 400px
            margin-left auto
            margin-right auto
            font-family HeliosCond
            padding (14/19)em (14/20)em
            font-size-func(14)
            line-height 1.3
            background-color rgba(255, 255, 255, 0.54)
            text-align left
            transition all 1s ease
            hyphens()

            @media (min-width 768px)
                font-size-func(16)
                position static
                opacity 0
                transform translateX(-200px)

            @media (min-width 992px)
                font-size-func(18)

            @media (min-width 1400px)
                font-size-func(23)

            &:hover
                text-decoration none
                color $grey-medium-color

            &:focus
                text-decoration none
                outline-color $grey-light-color

            &_visible
                @media (min-width 768px)
                    opacity 1
                    transform translateX(0)

        &_1
            background-image url(../img/slider1.jpg)

            .item
                &__text
                    @media (min-width 992px)
                        text-align right

                &__title
                    &_large
                        font-size-func(25)

                        @media (min-width 480px)
                            font-size-func(37)

                        @media (min-width 768px)
                            font-size-func(50)

                        @media (min-width 992px)
                            font-size-func(65)

                        @media (min-width 1400px)
                            font-size-func(88)

                &__descr
                    @media (min-width 768px)
                        max-width 510px
                        margin-left auto

                    @media (min-width 1400px)
                        max-width 650px

        &_2
            background-image url(../img/slider2.jpg)

            .item
                &__text
                    @media (min-width 992px)
                        text-align left

                &__title-wrap
                    @media (min-width 768px)
                        margin-bottom 30px

                &__descr
                    @media (min-width 768px)
                        max-width 510px
                        margin-left auto

                    @media (min-width 1400px)
                        max-width 650px

        &_3
            background-image url(../img/slider3.jpg)

            .item
                &__text
                    @media (min-width 992px)
                        text-align right

                &__descr
                    @media (min-width 768px)
                        max-width 510px
                        margin-left auto

                    @media (min-width 1400px)
                        max-width 650px

        &_4
            background-image url(../img/slider4.jpg)

            .item
                &__text
                    @media (min-width 768px)
                        text-align left

                &__descr
                    @media (min-width 768px)
                        max-width 510px
                        margin-left 100px

                    @media (min-width 1400px)
                        max-width 650px

        &_5
            background-image url(../img/slider5.jpg)

            .item
                &__text
                    @media (min-width 768px)
                        text-align left

                    &_large
                        @media (min-width 480px)
                            font-size-func(32)

                        @media (min-width 768px)
                            font-size-func(40)

                        @media (min-width 992px)
                            font-size-func(50)

                        @media (min-width 992px)
                            font-size-func(60)

                &__descr
                    @media (min-width 768px)
                        max-width 510px

                    @media (min-width 1400px)
                        max-width 650px

        &_6
            background-image url(../img/slider6.jpg)

            .item
                &__text
                    @media (min-width 768px)
                        text-align left

                    &_large
                        font-size-func(24)

                        @media (min-width 480px)
                            font-size-func(32)

                        @media (min-width 768px)
                            font-size-func(35)

                        @media (min-width 992px)
                            font-size-func(50)

                        @media (min-width 992px)
                            font-size-func(60)

                &__descr
                    @media (min-width 768px)
                        max-width 510px
                        margin-left 100px

                    @media (min-width 1400px)
                        max-width 650px

    .carousel-control
        width 10%
        span
            font-size 20px

    .carousel-indicators
        bottom 10px

        li
            margin-right 10px

        li.active
            margin-right 10px

    .item > video
        position absolute
        top 0
        left 0
        min-width 100%
        min-height 100%
        width auto
        height auto
        display none

        @media (min-width 768px)
            display block

    @media (min-aspect-ratio: 16/9)
        .item > video
            height 200%
            top -50%

    @media (max-aspect-ratio: 16/9)
        .item > video
            width 200%
            left -50%

    @supports (object-fit: cover)
        .item > video
            top 0
            left 0
            width 100%
            height 100%
            object-fit cover
