.list-count
    counter-reset count
    padding-left 0
    text-transform none
    list-style none
    font-size-func(16)

    @media (min-width 768px)
        font-size-func(45/2.68)

    @media (min-width 992px)
        font-size-func(60/2.68)

    @media (min-width 1400px)
        font-size-func(28)

    li
        position relative
        padding-top 40px
        padding-top 4rem
        counter-increment count
        margin-bottom 10px
        text-shadow -0   -1px 1px rgba( 255, 255, 255, 0.55 ), 0   -1px 1px rgba( 255, 255, 255, 0.55 ), -0    1px 1px rgba( 255, 255, 255, 0.55 ), 0    1px 1px rgba( 255, 255, 255, 0.55 ), -1px -0   1px rgba( 255, 255, 255, 0.55 ), 1px -0   1px rgba( 255, 255, 255, 0.55 ), -1px  0   1px rgba( 255, 255, 255, 0.55 ), 1px  0   1px rgba( 255, 255, 255, 0.55 ), -1px -1px 1px rgba( 255, 255, 255, 0.55 ), 1px -1px 1px rgba( 255, 255, 255, 0.55 ), -1px  1px 1px rgba( 255, 255, 255, 0.55 ), 1px  1px 1px rgba( 255, 255, 255, 0.55 ), -1px -1px 1px rgba( 255, 255, 255, 0.55 ), 1px -1px 1px rgba( 255, 255, 255, 0.55 ), -1px  1px 1px rgba( 255, 255, 255, 0.55 ), 1px  1px 1px rgba( 255, 255, 255, 0.55 )
        hyphens()

        @media (min-width 768px)
            padding-top 50px
            padding-top 5rem

        @media (min-width 1400px)
            padding-top 60px
            padding-top 6rem

        &:before
            content counter(count)
            font-family HelveticaInseratLT
            font-size-func(20)
            color white
            text-shadow none
            background-color $grey-light-color
            border-radius 50%
            width 30px
            width 3rem
            height 30px
            height 3rem
            line-height 30px
            line-height 3rem
            position absolute
            top 0
            left 50%
            transform translateX(-50%)

            @media (min-width 768px)
                font-size-func(27)
                line-height 40px
                line-height 4rem
                height 40px
                height 4rem
                width 40px
                width 4rem

            @media (min-width 1400px)
                font-size-func(36)
                line-height 50px
                line-height 5rem
                height 50px
                height 5rem
                width 50px
                width 5rem
