.objects
    font-size 20px
    padding-top 30px
    padding-bottom 30px
    text-align center

    @media (min-width 480px)
        padding-top 35px
        padding-bottom 35px

    @media (min-width 768px)
        padding-top 40px
        padding-bottom 45px

    @media (min-width 992px)
        padding-top 45px
        padding-bottom 70px

    @media (min-width 1400px)
        padding-top 60px
        padding-bottom 90px

    &__title
        margin-bottom 1.8em

    &__text
        text-align left
        hyphens()
        margin-bottom 2em

        p
            font-size-func(14)

            @media (min-width 768px)
                font-size-func(17)

            @media (min-width 992px)
                font-size-func(20)

            @media (min-width 1400px)
                font-size-func(25)

            &:not(:last-child)
                margin-bottom 20px

        li
            font-size-func(14)

            @media (min-width 768px)
                font-size-func(17)

            @media (min-width 992px)
                font-size-func(20)

            @media (min-width 1400px)
                font-size-func(25)
