.working
    text-align center
    padding-top 30px
    padding-bottom 0px

    @media (min-width 480px)
        padding-top 35px
        padding-bottom 10px

    @media (min-width 768px)
        padding-top 40px
        padding-bottom 20px

    @media (min-width 992px)
        padding-top 45px
        padding-bottom 65px

    @media (min-width 1400px)
        padding-top 50px
        padding-bottom 80px

    &__title
        text-align center
        text-transform uppercase
        font-family Calibri
        font-weight 700
        font-size-func(27)
        margin-bottom 1.3em
        color $grey-medium-color

        @media (min-width 480px)
            font-size-func(35)

        @media (min-width 768px)
            font-size-func(40)

        @media (min-width 992px)
            font-size-func(45)

        @media (min-width 1400px)
            font-size-func(54)

    &__subtitle
        {ibt}
        text-transform none
        font-size-func(27/1.35)
        font-weight 300
        padding .3em .55em
        margin-bottom 1.375em

        @media (min-width 480px)
            font-size-func(35/1.35)

        @media (min-width 768px)
            font-size-func(40/1.35)

        @media (min-width 992px)
            font-size-func(45/1.35)

        @media (min-width 1400px)
            font-size-func(40)

    &__list
        position relative
        font-size 20px
        padding-left 0
        list-style none

    &__item
        font-weight 300
        padding-left 10px
        padding-right 10px

        @media (max-width 992px)
            margin-bottom 60px
            max-width 300px
            margin-left auto
            margin-right auto

        &:before
            content ''
            display block
            margin-left auto
            margin-right auto
            margin-bottom 20px
            width 120px
            height 120px
            border-radius 50%
            border 8px solid #5c5c5c
            background-position center
            background-repeat no-repeat
            background-size 70%

            @media (min-width 992px)
                width 180px
                height 180px
                margin-bottom 30px
                border-width 10px

            @media (min-width 1400px)
                width 220px
                height 220px
                margin-bottom 40px
                border-width 14px

        &:after
            content ''
            position absolute
            width 35px
            height 35px
            bottom -45px
            right 50%
            transform rotate(90deg) translateY(-50%)
            background-image inline('arrow.png')
            background-position center
            background-size cover
            background-repeat no-repeat

            @media (min-width 992px)
                transform rotate(0deg)
                bottom inherit
                top 70px
                right -10px

            @media (min-width 1400px)
                width 54px
                height 54px
                top 75px
                right -25px

        &_1
            &:before
                background-image inline('working-icon1.png')
                background-position 70%

        &_2
            &:before
                background-image inline('working-icon2.png')

        &_3
            &:before
                background-image inline('working-icon3.png')

            &:after
                @media (min-width 992px)
                    display none

        &_4
            &:before
                background-image inline('working-icon4.png')
                background-position 65%

        &_5
            &:before
                background-image inline('working-icon5.png')

            &:after
                display none

        span
            position relative
            font-size-func(30)
            text-transform uppercase

            @media (min-width 768px)
                font-size-func(35)

            @media (min-width 992px)
                font-size-func(35)

            @media (min-width 1400px)
                font-size-func(54)

        hr
            width 60%
            border 1px solid $grey-light-color

            @media (min-width 992px)
                border-width 2px

            @media (min-width 1400px)
                border-width 3px

        p
            font-size-func(30/1.5)

            @media (min-width 992px)
                font-size-func(35/1.5)

            @media (min-width 1400px)
                font-size-func(36)

    &__link
        {ibt}

        &:hover
            text-decoration none
            color white

        &:focus
            text-decoration none
            color white

